body{
    background: #333;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.55;
    letter-spacing: .4px;
}

.btn{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: inherit;
    cursor: pointer;
    background: #fff;
}

.btn:hover{
    background: #cccccc;
}

@media(hover:none), (hover:on-demand){
    .btn:hover{
        background: #fff;
    }
}

.emphasis{
    font-weight: bold;
}

.message,
.wrapper,
.game__header{
    text-align: center;
}

.message{
    min-height: 48px;
}

.container{
    max-width: 800px;
    margin: auto;
}

.game__header{
    margin-top: 5rem;
}

.game__round{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'human computer'
                         'human-card computer-card'
}

.player--human{
    grid-area: human;
}
.player--computer{
    grid-area: computer;
}
.card--human{
    grid-area: human-card;
}
.card--computer{
    grid-area: computer-card
}

.player{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.5rem;
}

.card{
    padding-left: 8rem;
    margin-top: .8rem;
    min-height: 160px;
}


.card > *{
    margin-bottom: .5rem;
}

@media (max-width: 800px){
    .card{
        padding-left: 5.5rem;
    }
}


/* Spinner */
.spinner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #333;
    border-top-color: #ADFF2F;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -30px;
    animation: spin .4s linear infinite;
    box-sizing: border-box;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
